
<div class="jumbotron center">
<h1>Pinterest for Dentists?</h1>
<p> This site is owned by a dental student learning to code through Onemonth.com Ruby on Rails training program.</p>
<p> This site is not affiliated with <a href= http://www.pinterest.com> pinterest.</a>  </p>
<p>On June 14th the finished product will be released for public use.</p>
</div>